@import url(style.css);
@import url(reset.css);
@import url(header.css);
@import url(global.css);
@import url(main.css);
@import url(footer.css);
@import url(contato.css);

.contatos{
display: flex;
justify-content: center;
margin-top: 240px;
margin-bottom: 220px;
gap: 260px;
position: relative;
}
.contatos img{
  display: block;
  width: 85px;
  height: 85px;
  transition: transform 0.3s ease
}

.contatos img:hover{
  transform: scale(1.1);
}

 
