.logo-bia{
  font-family: 'michroma';
  font-style: normal;
  font-weight: 300;
  font-size: 1.333rem;

}

.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 margin-bottom: 70px; 
  
}



.nav-list{
  display: flex;
  flex-wrap: wrap;
  gap: 4.375rem;
}

.nav-list a{
  font-family: 'michroma';
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  font-weight: 150;
}


.nav-list .sobre::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 0%;
  background-color: rgb(255, 255, 228);
  margin-top: 4px;
  transition: 0.3s;
}
.nav-list .sobre:hover::after {
  width: 66px;
}

.nav-list .contato::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 0%;
  background-color: rgb(255, 255, 228);
  margin-top: 4px;
  transition: 0.3s;
}
.nav-list .contato:hover::after {
  width: 95px;
}

