.main-content{
 display: flex;
 flex-direction: column;
 gap: 65px;
}

.detail1{
  display: block;
  
}
.detail2{
  display: block;
}

.heads{
  font-family: 'michroma';
  
  font-size: 3.8rem;
  flex-wrap: wrap;
  letter-spacing: 3px;
}

.heads a{
  display: inline-flex;
  align-items: center;
  gap: 0.7rem;
}

.direcao-video{
  position: relative;
}

.direcao-video::before{
  content: '';
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.521);
  width: 692px;
  height: 2px;
  left: 0px;
  bottom: -44px
} 

.cenografia{
  position: relative;
}

.cenografia::before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.521);
    width: 1163px;
    height: 2px;
    left: 0px;
    bottom: -44px
  }

.heads:hover{
  color: rgba(39, 238, 39, 0.205);
  transition: 0.4s;
} 


/*splash screen intro test*/

.intro{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(10, 10, 10);
  transition: 1s;
}

.logo-header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'michroma';
  color: rgb(255, 255, 228);
  font-style: italic;
  font-weight: 300;
  font-size: 3.5rem;
}

.logo{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 1s;
}

.logo.fade{
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 1s ;

}