.main-content{
 display: flex;
 flex-direction: column;
 gap: 72px;
}

.detail1{
  display: block;
  
}
.detail2{
  display: block;
}

.heads{
  font-family: 'michroma';
  font-size: 3.8rem;
  flex-wrap: wrap;
  letter-spacing: 3px;
}

.heads a{
  display: inline-flex;
  align-items: center;
  gap: 0.7rem;
  padding-inline: 30px;
}

.direcao-video{
  position: relative;
  text-align: center;
}

.direcao-video::before{
  content: '';
  display: block;
  position: absolute;
  background: white;
  width: 1270px;
  height: 1px;
  left: 0px;
  bottom: -44px
} 

.cenografia{
  position: relative;
  font-size: 3.5rem;
  text-align: center;
}

.asterisco{
  color: rgba(0, 216, 97, 0.925);
  -webkit-text-stroke: 0;
}

.cenografia::before{
    content: '';
    display: block;
    position: absolute;
    background: white;
    width: 1270px;
    height: 1px;
    left: 0px;
    bottom: -44px
  }

  .mobile{
    text-align: center;
  }

a:hover{
  color: rgb(0, 110, 42);
  transition: 0.4s;;
} 


/*splash screen intro test*/

.intro{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(10, 10, 10);
  transition: 1s;
}

.logo-header{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'michroma';
  color: rgb(255, 255, 228);
  font-style: italic;
  font-weight: 300;
  font-size: 3.5rem;
}

.logo{
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.logo.active{
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 1s;
}

.logo.fade{
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 1s ;

}